
# Comments like this are supported
# If you would like more information on this, visit https://docs.minecraftforge.net/en/latest/advanced/accesstransformers/
# When using Access Transformers on Minecraft classes, the SRG names are used for fields and methods, find them here: https://mcp.thiakil.com/#/search
